<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="boxicons/css/boxicons.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UNIFY</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<div class="container">
		<img src="media\logo.png" alt="Logo Unify" class="logo">
		<p class="Principal"></p>
			<nav>
				<a href="">HOME</a>
				<a href="chat">PRACTICE</a>
				<a href="materias">SUBJECTS</a>
				<a href="nosotros">US</a>
			</nav>
		</div>
  	</header>
  
  	<section id="hero">
    	<div class="container">
			<div class="text">
				<h1><strong>SHARE <br>KNOWLEDGE, <br> ENRICH YOUR<br> LEARNING AND<br> FIND ANSWERS.</strong></h1>
				<h3> ¡Welcome to UNIFY! We hope to help you in your <br>academic growth and motivate you during the process.</h3>
				<form action="/login" method="post">
					<button id="button1">GET START</button>
				</form>
			</div>
			<div class="fondo">
				<img src="media\fondo.png" alt="fondo Unify" class="fondo">
				<button id="button2" onClick= "window.location.href='https://github.com/tomyrodeghiero/unify.git'">GITHUB Repository</button>
			</div>
		</div>
  	</section>
	
</body>
</html>
